<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2 th:text="'Hola!!'">Hello World!!!</h2>
	
	<p th:text="'Hello ' + ${username}">Some Text</p>
	
	<!-- <p>Hello ${username}</p> -->
	
	<p>Hello <span th:text="${username}">username</span>, and welcome to the application</p>
	
	<!-- <a th:href="@{/profile?id=} + ${id}" href="profile.html?id=id">View my profile</a> -->
	<a th:href="@{/profile(id=${id},trail=1)}" href="profile.html?id=id">View my profile</a>
</body>
</html>